.avatar-guide {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: calc(var(--frame-w) * 0.75);
  height: calc(var(--frame-h) * 0.75);
  background: url(var(--sheet)) no-repeat 0 0 / auto 100%;
  animation: var(--anim-name) steps(var(--frames)) 1s infinite;
  image-rendering: pixelated;
  pointer-events: none;
  z-index: 9999;
}

@keyframes idle {
  to {
    background-position-x: -200%;
  }
}

@keyframes walk {
  to {
    background-position-x: -300%;
  }
}
