.animate-avatar {
  background-image: var(--sheet);
  background-size: auto 100%;
  width: var(--w);
  height: var(--h);
  animation: avatar var(--dur) steps(var(--frames)) infinite;
}

@keyframes avatar {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: calc(var(--w) * var(--frames) * -1);
  }
}
